services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8000:8000
    command:
      [
        "uvicorn",
        "server:app",
        "--host",
        "0.0.0.0",
        "--port",
        "8000",
        "--reload",
        "--reload-dir",
        "/app",
      ]
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - mongo
    networks:
      - app-network

  mongo:
    image: mongo:6.0
    ports:
      - 27017:27017
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=root
    networks:
      - app-network

  mailcatcher:
    image: schickling/mailcatcher
    container_name: eve-ai-mailcatcher
    ports:
      - "1025:1025"
      - "6080:1080"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
