name: Deploy AWS EC2 staging instance (Eve ESA BE)
on:
  push:
    branches:
      - staging

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: eu-west-1
  AWS_ROLE_ARN: arn:aws:iam::686812424034:role/gh-action-eve-esa-be-staging
  AWS_ECR_REPOSITORY: eve-esa-be-staging

jobs:
  deploy:
    name: Build & Deploy to AWS EC2 staging instance
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          role-session-name: github-action-${{ github.run_id }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Log in to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push image to Amazon ECR
        id: build-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ env.AWS_ECR_REPOSITORY }}
          IMAGE_TAG: latest
        run: |
          docker build -t $ECR_REPOSITORY:$IMAGE_TAG .
          docker tag $ECR_REPOSITORY:$IMAGE_TAG $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

      - name: Restart docker
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.STAGING_HOST }}
          username: ${{ secrets.STAGING_USERNAME }}
          key: ${{ secrets.STAGING_KEY }}
          port: ${{ secrets.STAGING_PORT }}
          script: |
            cd ${{ secrets.STAGING_PATH }}
            # pull new backend image
            docker compose -f docker-compose.staging.yml pull
            docker compose -f docker-compose.staging.yml up -d

            # clean up old images older than 24 hours
            docker image prune -f --filter "until=24h"
